# Backend
venv/
.venv/
backend/venv/
backend/__pycache__/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.sqlite3
*.log

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.next/
frontend/build/
.next/
dist/
node_modules/

# Environment Variables & Secrets
.env
*.env
backend/.env
config.json
backend/config.json
.env.local
*.pem

# IDE & OS
.vscode/*
!.vscode/launch.json
.idea/
.DS_Store
Thumbs.db